@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 body {
  @apply bg-slate-50;
 }
}

.glass-card {
 @apply bg-white shadow-lg;
}

.glass-card:hover {
 @apply shadow-xl transform -translate-y-1 transition-all duration-300;
}

.gradient-text {
 @apply text-primary;
}

/* Swiper Styles */
.swiper-button-next,
.swiper-button-prev {
 @apply text-slate-700 !important;
 width: 40px !important;
 height: 40px !important;
 background-color: rgba(0, 0, 0, 0.1) !important;
 border-radius: 50% !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
 font-size: 20px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
 background-color: rgba(0, 0, 0, 0.2) !important;
}

.swiper-pagination-bullet {
 @apply bg-primary !important;
}
